.sideBar
  .sideHeader
    .sideHeader__box
      .sideHeader__box__name
        こうすけ
      .sideHeader__box__menu
        =link_to "#" do
          = icon('fa', 'edit',  class: "sideHeader__box__menu__new")
        =link_to "#" do
          = icon('fa', 'cog',  class: "sideHeader__box__menu__edit")
  .sideBody
    .group
      .group__name
        こうすけ
      .group__message
        こんにちは